.container {
    color: white;
}

.title {
    font-weight: 600;
    font-size: 36px;
    text-align: center;
}

.functions {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    align-items: start;
    grid-gap: 0px;
}

.functions span {
    font-weight: 600;
    font-size: 18px;
}

.forms {
    margin-top: 15px;
}

.textForm {
    display: block;
    padding: 17px 25px 18px 25px;
    width: 270px;
    background: #111111;
    border: none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    color: #FFC700;
}

.textForm:not(:last-child) {
    margin-bottom: 30px;
}

.textForm::placeholder {
    color: #FFC700;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

.error {
    width: 273px;
    text-align: center;
    color: red;
    font-size: 14px;
    margin: -15px 0 15px 0;
    font-weight: 400;
}

.submit__btn {

    font-family: 'Inter';
    display: inline-block;
    max-width: 220px;
    padding: 15px 43px;
    color: #FFC700;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #FFC700;
    background-color: black;
    transition: 0.3s;
}

.submit__btn:hover {
    background-color: #111111;
    transition: 0.3s;
}

.submit__btn:active {
    background-color: #504F51;
    transition: 0.3s;
}