.btn {
    padding: 15px 15px ;
    border-radius: 15px;
    background-color: black;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    max-width: 50px;
    justify-self: center;
}

.btn:active {
    background-color: #444444;
    transition: 0.5s;
}

.fcontainer {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    justify-content: space-around;
    align-items: center;
    grid-gap: 0px 33px;
}
.content {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0px 33px;
}