.btn {
    padding: 15px 15px ;
    border-radius: 15px;
    background-color: black;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    max-width: 50px;
    justify-self: center;
}

.btn:active {
    background-color: #444444;
    transition: 0.5s;
}

.fcontainer {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    justify-content: space-between;
    align-items: center;
}