.btn {
    background-color: #868686;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 4px 6px rgba(0,0,0,0.2);
}
.btn:active {
    box-shadow: none;
}
.fcontainer {
    display: flex;
    justify-content: space-between;
}