.container {
    margin: 0 auto;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    background-color: black;
    cursor: pointer;
}
.arrow img {
    width: 50%;
}

.btn {

    border-radius: 15px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    cursor: pointer;
    background: #252525;
    padding: 10px 20px;
    transition: 0.5s;
}
.btn:not(:last-child) {
    margin-left: 5px;
}

.btn:hover {
    background: #363636;
    transition: 0.5s;
}

.active {
    color: #000000;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    background: #FFC700;
}
.active:hover {
    background: #FFC700;
    cursor: default;
}
.btn__hide {
    display: none;
}