.container {
    max-width: 229px;
    max-height: 325px;
    color: white;
    text-align: center;
}

.title {
    margin-top: 10px;
    font-weight: 300;
    font-size: 24px;
}

.desc {

}

.cost {
    margin-top: 5px;
    font-weight: 700;
    font-size: 20px;
    color: #F0F0F0;
}

.bgImg {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    background-color: black;
}

.image {
    position: relative;
    max-height: 290px;
    object-position: bottom;
    border-radius: 30px;
    overflow: hidden;
    transition: 0.3s;
    z-index: 1;
}

.image__btns {
    transition: 0.3s;
    opacity: 0;
    position: absolute;
    bottom: 5%;
    left: 17%;
    z-index: 2;
}

.image__btns button {
    width: 150px;
    padding: 5px 15px;
    background-color: #F0F0F0;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 700;
}
.image__btns button:hover {
    transition: 0.3s;
    background-color: #FFC700;
}
.image__btns button:active {
    background-color: #d0a000;
}

.image__btns button:not(:last-child) {
    margin-bottom: 8px;
}

.btnItem {
    display: block;
    margin: 0 auto;
}

.image img {
    width: 100%;
    height: 100%;
    object-position: bottom;
    transition: 0.3s;
}

.image:hover .image__btns {
    opacity: 1;
    transition: 0.3s;
}

.image:hover .bgImg {
    opacity: 0.5;
    transition: 0.3s;
}
