.container {
    max-width: 229px;
    max-height: 325px;
    color: white;
    text-align: center;
}

.image {
    position: relative;
    max-height: 290px;
    object-position: bottom;
    border-radius: 30px;
    overflow: hidden;
    transition: 0.3s;
}
.image__btns {
    transition: 0.3s;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 20%;
}
.btnItem {
    display: block;
    margin: 0 auto;
}

.image img {
    width: 100%;
    height: 100%;
    object-position: bottom;
}

.title {
    margin-top: 10px;
    font-weight: 300;
    font-size: 24px;
}

.desc {

}

.cost {
    margin-top: 5px;
    font-weight: 700;
    font-size: 20px;
    color: #F0F0F0;
}

.image:hover {
    transition: 0.3s;
    opacity: 0.5;
}
.image:hover .image__btns {
    transition: 0.3s;
    opacity: 1;
}