
.navbar {
    margin: 25px 0 16px 0;
    display: flex;
    justify-content: space-between;
}

.kategorie {
    transition: 0.2s;
    color: white;
    font-weight: 300;
    font-size: 16px;
}

.kategorie__link {
    text-decoration: none;

}

.kategorie:hover .kategorie__span {
    display: inline-block;
    transform: skew(20deg);
}

.kategorie:hover {
    padding: 13px 30px;
    transition: 0.2s;
    transform: skew(-20deg);
    background-color: white;
    color: black;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}




