@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@300;400;700&family=Poppins:wght@400;500;600;700;900&family=Rubik&display=swap');
.wrapper {
    font-family: Montserrat;
}
.auth {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99;
}
.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.disable {
    pointer-events: none;
}
.ant-select-selector {
    border: 1px solid black !important;
    background-color: #FFC700 !important;
    transform: skewX(-10deg) !important;
}
.ant-select-item-option-selected {
    background-color: black !important;
    color: white !important;
}
.imageStylePagination {
    width: 229px;
    height: 325px;
}
