.container {
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-gap: 100px 13px;
    align-items: baseline;
}
.productItem {
    max-width: 229px;
    object-fit: cover;
}
.productItem img{
    width: 100%;
    height: 100%;
}
.pageSlider {
    margin: 129px 0 40px 0;
    color: white;
}