@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

.container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 100px 13px;
    align-items: baseline;
}

.productItem {
    max-width: 229px;
}

.productItem img {
    width: 100%;
    height: 100%;
}

.pageSlider {
    margin: 129px 0 40px 0;
    color: white;
}

.header {
    margin: 110px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.title {
    font-weight: 700;
    font-size: 48px;
    color: #F0F0F0;
}

.title span {
    color: #FFC700;

}

.title .title__under {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
    font-size: 32px;
    display: block;
    color: #949494;
}

.filter {
    margin-top: 15px;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.filter__form {
    display: inline-block;
    margin-left: 20px;

}

.filter__form {
}

.input {
    display: block;
    margin-top: 15px;
    max-width: 345px;
    background-color: #FFC700;
    border: 1px solid black;
    font-size: 16px;
    color: black;
    transform: skewX(-15deg);
}

.input::placeholder {
    color: black;
}

.slider {
    margin-top: 28px;
}

.dropdownMenu {
    background-color: #FFC700;
    border: 1px solid black;

}

.pageNumber {
    margin-top: 15px;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.pageNumber__select {
    margin-left: 14px;
}